.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  padding: 12pt;
  background-color: #282c34;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #09d3ac;
}


p.error {
  color: #ff0000;
}

p.error::before {
  display: inline;
  content: "⚠ ";
}

